body {
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    padding-top: 200px !important;
    color: #696969;
  }
  
  @media (min-width:992px) {
    body {
      padding-top: 0;
      padding-left: 0rem;
    }
  }
  
  .left-image {
    padding-top : 15px; 
    padding-bottom: 35px;
    height : 20rem;
    width: 30rem;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu Light';
    font-weight: 200;
    text-transform: uppercase;
    color: #343a40;
  }
  
  h1 {
    font-size: 4.2rem;
    line-height: 5.5rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  p.lead {
    font-size: 1.15rem;
    font-weight: 400;
  }
  
  .padd {
    padding-left: 0rem;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
  }
  
  .navbar-toggler:focus {
    outline-color: #d48a6e;
  }
  
  @media (min-width:992px) {
  
    .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto auto 0;
      padding: .5rem;
    }
  
    .navbar-brand .img-profile {
      max-width: 7rem;
      max-height: 7rem;
      border: .3rem solid rgba(255,255,255,.2);
    }
  
    .navbar-collapse {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      height: 100%;
      margin-bottom: auto;
    }
  
    .navbar-collapse .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
    }
  
    .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
  
    .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
  }
  
  .bg-primary {
    background-color: #41bfdf!important;
  }
  
  .text-primary {
    color: #429bb8!important;
  }
  
  a {
    color: #429bb8;
  }
  
  a:active,a:focus,a:hover {
    color: #429bf7;
  }